<div class="block block--white">
  <h1>Lorem ipsum dolor sit amet.</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis velit
    alias tempore, id facere nulla? Sed pariatur maiores repellendus eveniet
    consectetur adipisci, vel ex reiciendis earum quam labore nemo dolore?
  </p>
</div>
<div class="block block--dark">
  <h1>Lorem ipsum dolor sit amet.</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis velit
    alias tempore, id facere nulla? Sed pariatur maiores repellendus eveniet
    consectetur adipisci, vel ex reiciendis earum quam labore nemo dolore?
  </p>
</div>
