<main>
  <section class="block block--white container">
    <article class="feature callout">
      <div class="grid grid--1x2">
        <picture class="feature__image">
          <img
            src="./images/illustration-grow-together.svg"
            alt="man and woman illustration"
          />
        </picture>
        <div class="feature__content">
          <h2>Grow Together</h2>
          <p>
            Generate meaningful discussions with your audience and build a
            strong, loyal community. Think of the insightful conversations you
            miss out on with a feedback form.
          </p>
        </div>
      </div>
    </article>

    <article class="feature callout">
      <div class="grid grid--1x2">
        <picture class="feature__image">
          <img
            src="./images/illustration-flowing-conversation.svg"
            alt="group of people sitting on a chair with table and having their conversation illustration"
          />
        </picture>
        <div class="feature__content">
          <h2>Flowing Conversations</h2>
          <p>
            You wouldn't paginate a conversation in real life, so why do it
            online? Our threads have just-in-time loading for a more natural
            flow.
          </p>
        </div>
      </div>
    </article>

    <article class="feature callout">
      <div class="grid grid--1x2">
        <picture class="feature__image">
          <img
            src="./images/illustration-your-users.svg"
            alt="two men and a woman illustration"
          />
        </picture>
        <div class="feature__content">
          <h2>Your Users</h2>
          <p>
            It takes no time at all to integrate Huddle with your app's
            authentication solution. This means, once signed in to your app,
            your users can start chatting immediately.
          </p>
        </div>
      </div>
    </article>
  </section>
</main>
