<footer class="block block--dark">
  <div class="footer container">
    <picture class="footer__brand"
      ><img src="./images/logo-footer.svg" alt=""
    /></picture>
    <div class="footer__content grid grid--1x3">
      <div class="footer__contact">
        <div class="media">
          <div class="media__icon">
            <img src="./images/icon-location.svg" alt="" />
          </div>

          <div class="media__body">
            <p class="media__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
              minus autem nostrum nam, aliquid consectetur cupiditate dolore
              quas reiciendis quaerat!
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media__icon">
            <img src="./images/icon-phone.svg" alt="" />
          </div>

          <div class="media__body">
            <p class="media__text">+1-543-123-4567</p>
          </div>
        </div>
        <div class="media">
          <div class="media__icon">
            <img src="./images/icon-email.svg" alt="" />
          </div>

          <div class="media__body">
            <p class="media__text">example@huddle.com</p>
          </div>
        </div>
      </div>

      <div class="footer__link grid grid--1x2">
        <div>
          <div class="link"><a href="#">About Us</a></div>
          <div class="link"><a href="#">What We Do</a></div>
          <div class="link"><a href="#">FAQ</a></div>
        </div>
        <div>
          <div class="link"><a href="#">Career</a></div>
          <div class="link"><a href="#">Blog</a></div>
          <div class="link"><a href="#">Contact Us</a></div>
        </div>
      </div>

      <div class="footer__socialicon">
        <a href="#">
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
        <a href="#">
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
        <a href="#">
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="footer__copyright">
      <p>&copy; Copyright 2018 Huddle. All rights reserved.</p>
    </div>
  </div>
</footer>
