<section class="hero block">
  <div class="grid grid--1x2">
    <header class="hero__content">
      <h1 class="hero__heading">Build The Community Your Fans Will Love</h1>
      <p class="hero__text">
        Huddle re-imagines the way we build communities. You have a voice, but
        so does your audience. Create connections with your users as you engage
        in genuine discussion
      </p>
      <button class="btn btn--primary btn--stretched">
        Get Started For Free
      </button>
    </header>
    <picture>
      <img src="./images/illustration-mockups.svg" alt="" />
    </picture>
  </div>
</section>
