<div class="media">
  <div class="media__icon">
    <img src="./images/icon-location.svg" alt="" />
  </div>

  <div class="media__body">
    <p class="media__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus minus
      autem nostrum nam, aliquid consectetur cupiditate dolore quas reiciendis
      quaerat!
    </p>
  </div>
</div>
<div class="media">
  <div class="media__icon">
    <img src="./images/icon-phone.svg" alt="" />
  </div>

  <div class="media__body">
    <p class="media__text">+1-543-123-4567</p>
  </div>
</div>
<div class="media">
  <div class="media__icon">
    <img src="./images/icon-email.svg" alt="" />
  </div>

  <div class="media__body">
    <p class="media__text">example@huddle.com</p>
  </div>
</div>
